.error{
    color: red !important;
    font-weight: 100;
    font-size: 11px;
}
.d_center{
    align-items: center !important
}
._Xsdds{
    padding:50px;
    display:flex;
    flex-direction:column
}
.x_height{
    min-height:300px
}
.x_bolder{
    font-weight:600
}
.xszxs::after{
position: absolute;
width:50px;
height:50px;
border-radius:50px;
bottom:-6px;
left:-6px;
z-index:1;
background:#111827;
content:' ';
}
.xszxs::Before{
    position: absolute;
    width:50px;
    height:50px;
    border-radius:50px;
    bottom:-10px;
    left:-10px;
    z-index:2;
    background:#4338CA;
    content:' ';
    opacity:1
    }
    .xszxs:hover::before{opacity: 0.5;}